In [5]:
# Dependencies and Setup
import pandas as pd

In [6]:
schools_complete = "Resources/schools_short.csv"
students_complete = "Resources/students_short.csv"

In [7]:
schools_complete_df = pd.read_csv(schools_complete)
students_complete_df = pd.read_csv(students_complete)
schools_complete_df

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500
5          5     Wilson High School  Independent  2283  1319574

In [8]:
merged_school_data_df = pd.merge(schools_complete_df, students_complete_df, on="school_name")
merged_school_data_df

,School ID,school_name,type,size,budget,Student ID,student_name,reading_score,maths_score
0,0,Huang High School,Government,2917,1910635,0,Paul Bradley,96,94
1,0,Huang High School,Government,2917,1910635,6,Sheena Carter,73,60
2,0,Huang High School,Government,2917,1910635,7,Nicole Baker,69,64
3,0,Huang High School,Government,2917,1910635,8,Michael Roth,94,66
4,0,Huang High School,Government,2917,1910635,9,Matthew Greene,64,77
5,0,Huang High School,Government,2917,1910635,10,Andrew Alexander,50,66
6,0,Huang High School,Government,2917,1910635,11,Daniel Cooper,66,89
7,0,Huang High School,Government,2917,1910635,12,Brittney Walker,76,81
8,0,Huang High School,Government,2917,1910635,13,William Long,73,88
9,0,Huang High School,Government,2917,1910635,14,Tammy Hebert,80,79
10,0,Huang High School,Government,2917,1910635,15,Jordan Carson,86,46
11,0,Huang High School,Government,2917,1910635,16,Donald Zamora,49,93
12,0,Huang High School,Government,2917,1910635,17,Kimberly Santiago,64,93
13,0,Huang High School,Government,2917,1910635,18,Kevin Stevens,68,94
14,1,Figueroa High School,Government,2949,1884411,1,Victor 1,90,43
15,2,Shelton High School,Independent,1761,1056600,2,Kevin Rodriguez,41,76
16,3,Hernandez High School,Government,4635,3022020,3,Richard 3,89,86
17,4,Griffin High School,Independent,1468,917500,4,Bonnie 4,87,69
18,5,Wilson High School,Independent,2283,1319574,5,Bryan 5,88,93

In [11]:
bins = [0, 49.9, 100]
group_names = ["Fail", "Pass"]
pd.cut(merged_school_data_df["maths_score"], bins, labels=group_names).head()
# # pd.cut(grouped_data["maths_score"],bins, labels=group_labels).head()
merged_school_data_df["maths_score2"] = pd.cut(merged_school_data_df["maths_score"], bins, labels=group_names)
# # merged_school_data_df["budget"].sum()

In [12]:
merged_school_data_df

,School ID,school_name,type,size,budget,Student ID,student_name,reading_score,maths_score,maths_score2
0,0,Huang High School,Government,2917,1910635,0,Paul Bradley,96,94,Pass
1,0,Huang High School,Government,2917,1910635,6,Sheena Carter,73,60,Pass
2,0,Huang High School,Government,2917,1910635,7,Nicole Baker,69,64,Pass
3,0,Huang High School,Government,2917,1910635,8,Michael Roth,94,66,Pass
4,0,Huang High School,Government,2917,1910635,9,Matthew Greene,64,77,Pass
5,0,Huang High School,Government,2917,1910635,10,Andrew Alexander,50,66,Pass
6,0,Huang High School,Government,2917,1910635,11,Daniel Cooper,66,89,Pass
7,0,Huang High School,Government,2917,1910635,12,Brittney Walker,76,81,Pass
8,0,Huang High School,Government,2917,1910635,13,William Long,73,88,Pass
9,0,Huang High School,Government,2917,1910635,14,Tammy Hebert,80,79,Pass
10,0,Huang High School,Government,2917,1910635,15,Jordan Carson,86,46,Fail
11,0,Huang High School,Government,2917,1910635,16,Donald Zamora,49,93,Pass
12,0,Huang High School,Government,2917,1910635,17,Kimberly Santiago,64,93,Pass
13,0,Huang High School,Government,2917,1910635,18,Kevin Stevens,68,94,Pass
14,1,Figueroa High School,Government,2949,1884411,1,Victor 1,90,43,Fail
15,2,Shelton High School,Independent,1761,1056600,2,Kevin Rodriguez,41,76,Pass
16,3,Hernandez High School,Government,4635,3022020,3,Richard 3,89,86,Pass
17,4,Griffin High School,Independent,1468,917500,4,Bonnie 4,87,69,Pass
18,5,Wilson High School,Independent,2283,1319574,5,Bryan 5,88,93,Pass